<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="data:image/x-icon;base64,<%- include('favicon')%>"
    />
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Atten+</title>
  </head>
  <body>
    <div id="header"><%- include('header') %></div>

    <main class="main">
      <div class="challenges-wrapper">
        <div class="new-challenges" style="padding-top: 0px">
          <span class="main-section-title"><%=title %></span>
          <div class="container">
            <% const newChallenge = 8 %> <% for (let i = 0; i < newChallenge ;
            i++) { %>
            <a href="/detail/<%= challenges[i].shortId%>">
              <div class="item-box">
                <div class="img-wrapper">
                  <img
                    src="data:<%=challenges[i].img.contentType%>;base64,
                  <%=challenges[i].img.data.toString('base64')%>
"
                  />
                </div>
                <div class="challenge-info">
                  <div class="detail-info">
                    <p class="challenge-category">
                      <%= challenges[i].category%>
                    </p>
                    <p class="challenge-maker">
                      <%= challenges[i].author.name%>
                    </p>
                  </div>
                  <h2 class="challenge-title"><%= challenges[i].title%></h2>
                  <section>
                    <p class="challenge-join-users">
                      <%= challenges[i].joinusers.length%>명 참여
                    </p>

                    <p
                      class="challenge-condition"
                      id="color<%= processDates(challenges[i].startdate,challenges[i].enddate).value %>"
                    >
                      <%=processDates(challenges[i].startdate,challenges[i].enddate).condition%>
                    </p>
                  </section>
                </div>
              </div>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </main>
    <div class="line"></div>

    <div id="footer"><%- include('footer') %></div>
    <script src="/js/userpageMenu.js"></script>
    <script>
      const dataSet = <%-JSON.stringify(challenges)%>;
      let curChallenge = 8;
      const allContainer = document.querySelector(".container");
      loadImages();

      window.addEventListener("scroll", () => {
        if (
          window.scrollY + window.innerHeight >=
          document.documentElement.scrollHeight
        ) {
          loadImages();
        }
      });

      function loadImages() {
        let j = 1;
        while (j <= 8) {
          if (curChallenge == dataSet.length) return;
          const startdate = dataSet[curChallenge].startdate
          const enddate = dataSet[curChallenge].enddate
          let processDates = <%-processDates%>;
          const {condition, value} = processDates(startdate, enddate);
          allContainer.innerHTML += `
                      <div class="item-box">
                        <a href = "/detail/${dataSet[curChallenge].shortId}">
                          <div class="img-wrapper">
                            <img loading="lazy" src= "data:${dataSet[curChallenge].img.contentType};base64,${toBase64(dataSet[curChallenge].img.data.data)}">
                          </div>
                          <div class="challenge-info">
                            <div class="detail-info">
                              <p class="challenge-category">${dataSet[curChallenge].category}</p>
                              <p class="challenge-maker">${dataSet[curChallenge].author.name}</p>
                            </div>
                            <h2 class="challenge-title">${dataSet[curChallenge].title}</h2>
                            <section>
                            <p class="challenge-join-users">
                              ${dataSet[curChallenge].joinusers.length}명 참여
                            </p>
                            <p class="challenge-condition" id="color${value}">
                              ${condition}
                            </p>
                            </section>
                          </div>
                        </a>
                      </div>
                  `;
          curChallenge += 1;
          j+= 1;
        }
      }

      function toBase64(arr){
        return btoa(arr.reduce((data, byte) => data + String.fromCharCode(byte), ''));
      }
    </script>
  </body>
</html>
