<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge check</title>
</head>
  
<body>
    <h1>Challenge check</h1>
    <div>
        <div>
            <div>
                <img src="data:challenge/<%=challenge.img.contentType%>;base64,
                     <%=challenge.img.data.toString('base64')%>">
                <div>
                    <h5>챌린지 명 : <%= challenge.title %></h5>
                    <p>접속자: <%= user.name %> </p> 
                    <p>작성자: <%= challenge.author.name %> </p> 
                    <p>참가하는 유저 수 : <%= challenge.joinusers.length %> </p>
                    <p>출석: <%= attendance %> </p>
                    <h5> 댓글 : <%= challenge.comments %> </h5>
                </div>
            </div>
        </div>
    </div>
    <div>
        
        <form
            method="post"
            enctype="multipart/form-data"
            action= <%= challenge.shortId+"/join" %>
        >
        <input
            type="submit"
            id="create_submit"
            name="create_submit"
            value="참석하기"
          />
        </form>

        <form
            method="post"
            enctype="multipart/form-data"
            action= <%= challenge.shortId+"/attendance" %>
        >
        <input
            type="submit"
            id="create_submit"
            name="attendancedate"
            value= "출석check"
          />
        </form>
        <form
            method="post"
            action= <%= challenge.shortId+"/comments" %>
        >
        <textarea name="content" ></textarea>
        <input
            type="submit"
            id="comment_submit"
            name="submit"
            value="댓글"
          />
        </form>
        <form
            method="post"
            action= <%= challenge.shortId+"/comments/edit" %>
        >
        <textarea name="content" ></textarea>
        <input
            type="submit"
            id="comment_update_submit"
            name="submit"
            value="댓글"
          />
        </form>
    </div>
    <div></div>
</body>
  
</html>
