<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>작심삼일</title>
    <link
      rel="icon"
      type="image/png"
      href="data:image/x-icon;base64,<%- include('favicon')%>"
    />
    <link
    href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&family=Nanum+Gothic:wght@400;700;800&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet"  href="/css/style_detailPage.css" />
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  </head>
  
  <body>
    <%- include('header') %>
    <%   function getTodayDate() { %>
    <%    var date = new Date(); %>
    <%    var year = date.getFullYear(); %>
    <%   var month = ("0" + (1 + date.getMonth())).slice(-2); %>
    <%   var day = ("0" + date.getDate()).slice(-2); %>
    <%  return year + "-" + month + "-" + day; %>
    <%    } %>

    <div class="detailPageListAll">
      <div class="challengeTitle">
        <div class="postCategory"><div><%= challenge.category %></div></div>
      </div>
      <div class="challengeTitle">
        <h1><%= challenge.title %></h1>
      </div>
      <div class="challengeTitle">
        <div class="creator">
          <a href="/user/<%= challenge.author.shortId %>">
          <span class="creatorIcon"> <img src="data:challenge.author/<%=challenge.author.img.contentType%>;base64,
            <%=challenge.author.img.data.toString('base64')%>" style="width: 33.74px;
            height: 33px;"></span>
          <span class="creatorName"><%= challenge.author.name %></span>
        </a>
        </div>
    
      </div>
      

      <div class="detailPostImg"> 
        <img src="data:challenge/<%=challenge.img.contentType%>;base64,
        <%=challenge.img.data.toString('base64')%>">
      </div>

        <% if(challenge.joinusers.length===0 || !challenge.joinusers.includes(user.id) ){ %>
        <aside class="registerChallenge">
              <div class="registerDateTitle">
                <div>
                  <span class="startDateTxt">시작일</span>
                  <div class="startDate"><%= challenge.startdate %></div>
                  <span>종료일</span>
                  <div class="endDate"><%= challenge.enddate %></div>
                </div>
              </div>
              <div class="registerDateTitle">
                
                  <% if((challenge.startdate) < getTodayDate()) { %>
                  <button class="registerForbiddenButton">챌린지 신청 기간이 지났습니다</button>
                

                    <% }else { %>
                    <form
                    method="post"
                    enctype="multipart/form-data"
                    action= <%= challenge.shortId+"/join" %>
                    >
                    <input
                        type="submit"
                        id="create_submit"
                        name="create_submit"
                        class="registerButton"
                        value="참여하기"
                      />
                    </form>
                  <% } %>
              </div>
        </aside>
        <% }else{ %>
          <aside class="attendChallenge">
          <div class="challengeTitle">
            <div class="progressTxt">진행 상황</div>
          </div>
          <div class="challengeTitle">
            <input class="calendar" />
          </div>
          <div class="challengeTitle">  
            <%if((challenge.startdate) > getTodayDate()){ %>
              <button class="registerForbiddenButton"><%= Number(challenge.startdate.slice(5,7))%>월 <%=Number(challenge.startdate.slice(8,10))%>일 부터 시작합니다!</button>        
              <%} else if((challenge.enddate)<getTodayDate()){ %>
            
                <button class="registerForbiddenButton">챌린지 기간이 끝났습니다</button>        

              <%} else if(attendance.map(v=>v.attendanceDate).includes(getTodayDate())){ %>
            <button class="registerForbiddenButton">오늘 목표를 달성하셨습니다</button>
            <% }else{ %>
            <form
            method="post"
            enctype="multipart/form-data"
            action= <%= challenge.shortId+"/attendance" %>
        >
        <input
            type="submit"
            id="create_submit"
            name="attendancedate"
            class="attendButton"
            value= "출석하기"
          />
        </form>
        <% } %>
     
          </div>
        </aside>
          <% } %>

     

   

        <div class="divideLayerMiddle"></div>

        <div class="challengeTxt">
        챌린지 소개
        <div class="storyContent" style="white-space:pre-line;" ><%= challenge.description %></div>
      </div>

      <div class="reviewWrite">후기</div>
     

    
      <!-- comment부분이 확정된 이후에 수정 -->
      <div class="reviewListBoard">
  
        <% if(challenge.comments.map((v)=>!v.isDeleted?v.author.name:"").includes( user.name)){ %>
          <% }else{ %>
        <div class="createCard">
          <form
          method="post"
          action= <%= challenge.shortId+"/comments" %>
      >
      <textarea name="content" placeholder="후기를 등록해보세요!" style=" width: 85%;
      height: 110px;
      border: none;
      resize: none;" ></textarea>
      <input
          type="submit"
          class="postReviewButton"
          id="comment_submit"
          name="submit"
          value="후기 작성하기"
        />
      </form>
        </div>
        <% }%>
       





        <% if(challenge.comments !=="") { %>
        <% for(let q=0; q<challenge.comments.length; q++) { %>
          <% if( !challenge.comments[q].isDeleted ) {%>
          <div class="reviewCard">
            <a href="/user/<%=challenge.comments[q].author.shortId%>">
            <span class="reviewIcon"> <img src="data:challenge.comments[q].author/<%=challenge.comments[q].author.img.contentType%>;base64,
              <%=challenge.comments[q].author.img.data.toString('base64')%>" style="width: 24.83px; height: 24.29px;"></span>
              
            <span class="reviewWriteUser"><%= challenge.comments[q].author.name %></span>
          </a>
            <% if(challenge.comments[q].author.name !== user.name) { %>
              <form
              class="deleteReviewForm"
              id= <%= challenge.comments[q].author.name %><%= q %>
              >
              <input type="hidden" name="comment_index" value= <%= q %> >
              <input
                  readonly
                  class="reviewDeleteButton"
                  onClick="forbiddenFun()"
                  value="삭제"
                />
              </form>
            <% }else { %>
              <form
              class="deleteReviewForm"
              id= <%= challenge.comments[q].author.name %><%= q %>
                  method="post"
                  action= <%= challenge.shortId+"/comments/delete" %>
              >
              <input type="hidden" name="comment_index" value= <%= q %> >
              <input
                  type="submit"
                  class="reviewDeleteButton"
                  id="comment_update_submit"
                  name="submit"
                  value="삭제"
                />
              </form>
            <% } %>
           
            <button class="changeReviewText" id= <%= challenge.comments[q].author.name %><%=q%>change onclick="reviewFun(`<%= challenge.comments[q].content %>`,`<%= challenge.comments[q].author.name %>`,`<%= q %>`,`<%= challenge.comments[q].isDeleted %>`)">수정하기</button>

            
            <div class="reviewText" id=<%= challenge.comments[q].author.name %><%=q%>beforeText style="white-space:pre-line;"><%= challenge.comments[q].content %></div>
    
              <form
              style="display: none;"
              class="reviewChangeButton"
              id= <%= challenge.comments[q].author.name %><%=q%>textArea
            method="post"
            action= <%= challenge.shortId+"/comments/edit" %>
        >
        <input type="hidden" name="comment_index" value= <%= q %>>
        <textarea name="content"class="reviewUpdateText" style="border:none; outline:none;" id=<%= challenge.comments[q].author.name %><%=q%>changeText ><%= challenge.comments[q].content %></textarea>
        <div class="reviewUpdateCancelButton" 
        onclick="cancelFun(`<%= challenge.comments[q].content %>`,`<%= challenge.comments[q].author.name %>`,`<%= q %>`,`<%= challenge.comments[q].isDeleted %>`)"
        style="float: right;
        width: 32px;
        color: #1f9de6;
        cursor: pointer;
        font-weight: bold;
        font-size: 13.5px;
        margin-top: -1.5px;
        margin-right: 22px;"> 취소</div>
        <input
            type="submit"
            class="reviewUpdateButton"
            id="comment_update_submit"
            name="submit"
            value="후기 수정하기"
          />
          
        </form>
       
        
     
      </div>
      <% } %>
      <% } %>
    <% } %>
 
      </div>
    </div>
    <!-- <div class="detailPageMargin"></div>
    <div class="line"></div> -->
    <div class="detailPageModal">

        <div class="detailPageModalBody">챌린지를 모두 완료하셨습니다! 축하합니다!</div>

      

    </div>

    <div class="detailFooterMargin">
  </body>
  <div class="detailFooter">
    
    <div class="line"></div>
    <div id="footer"><%- include('footer') %></div>
  </div>
  
 <!-- footer영역 -->
  <script>

  var thisAttendDate = `<%= attendance.map(v=>v.attendanceDate) %>`
  var thisPageInfo= `<%= challenge.shortId %>`;
  var thisStartDate= `<%= challenge.startdate %>`;
  var thisEndDate= `<%= challenge.enddate %>`;
  </script>
  <script src="/js/userpageMenu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/detailPage.js"></script>
    <script>
function reviewFun(thisContent,thisAuthor,thisIndex,isdel){
  if(thisAuthor!==`<%= user.name %>`){
    alert("이 후기를 작성한 사용자만 수정이 가능합니다!")
  }else {
    document.querySelector(`#${thisAuthor}${thisIndex}beforeText`).style="display:none;"
    document.querySelector(`#${thisAuthor}${thisIndex}change`).style="display:none;"
    document.querySelector(`#${thisAuthor}${thisIndex}`).style="display:none;"
    document.querySelector(`#${thisAuthor}${thisIndex}textArea`).style=""
    document.querySelector(`#${thisAuthor}${thisIndex}changeText`).focus()
  }
}
function forbiddenFun(){
  alert("이 후기를 작성한 사용자만 삭제가 가능합니다!")
}

function cancelFun(thisContent,thisAuthor,thisIndex,isdel){
  document.querySelector(`#${thisAuthor}${thisIndex}beforeText`).style=""
  document.querySelector(`#${thisAuthor}${thisIndex}change`).style=""
  document.querySelector(`#${thisAuthor}${thisIndex}`).style=""
  document.querySelector(`#${thisAuthor}${thisIndex}textArea`).style="display:none;"
}



    </script>

    </html>