<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge upload</title>
  </head>

  <body>
    <h1>Challenge upload</h1>
    <div>
      <% challenges.forEach(function(challenge) { %>
      <div>
        <div>
          <img
            src="data:challenge/<%=challenge.img.contentType%>;base64,
                     <%=challenge.img.data.toString('base64')%>"
          />
          <div>
            <h5>챌린지 명 : <%= challenge.title %></h5>
            <h5>작성자 명 : <%= challenge.author.name %></h5>
            <h5>참가 인원 : <%= challenge.joinusers.length %></h5>
            <%= challenge %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div>
      <button type="button" onclick="location.href='/create'">챌린지생성</button>
    </div>
  </body>
</html>
