<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/userpage.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>My Page</title>
  </head>
  <body>
    <div id="header"><%- include('header') %></div>

    <div class="banner">
      <img src="/assets/img/run.jpg" alt="프로필 사진" />
      <h1><%=author.name %>님의 페이지</h1>
    </div>

    <div class="tabs">
      <ul class="tabs_sidebar">
        <li data-tab-target="#content1" class="tab active"><h3>프로필</h3></li>
        <li data-tab-target="#content2" class="tab"><h3>참여한 챌린지</h3></li>
        <li data-tab-target="#content3" class="tab"><h3>만든 챌린지</h3></li>
      </ul>
    </div>

    <div class="content active" id="content1" data-tab-content>
      <div class="profile">
        <div class="comp">
          <div class="comp-top">
            <p class="comp-title"><strong>프로필 사진</strong></p>
            <!-- <button class="update-btn">수정</button> -->
          </div>
          <div class="comp-img">
            <img src="/assets/img/run.jpg" alt="프로필 사진" />
          </div>
          <p class="comp-content"></p>
        </div>
        <div class="comp">
          <div class="comp-top">
            <p class="comp-title"><strong>이름</strong></p>
            <% if(author.shortId === user.shortId){%>
            <button
              class="update-btn"
              id="name"
              onclick="changeContent(this.id)"
            >
              수정
            </button>
            <% } %>
          </div>
          <p class="comp-content" id="name-content"><%= author.name %></p>
        </div>
        <div class="comp">
          <div class="comp-top">
            <p class="comp-title"><strong>소개</strong></p>
            <% if(author.shortId === user.shortId){%>
            <button
              class="update-btn"
              id="intro"
              onclick="changeContent(this.id)"
            >
              수정
            </button>
            <% } %>
          </div>
          <p class="comp-content" id="intro-content">자기소개를 넣어주세요.</p>
        </div>
        <div class="comp">
          <div class="comp-top">
            <p class="comp-title"><strong>이메일</strong></p>
          </div>
          <p class="comp-content" id="website-content"><%=author.email%></p>
        </div>
        <div class="comp">
          <div class="comp-top">
            <p class="comp-title"><strong>비밀번호</strong></p>
            <% if(author.shortId === user.shortId){%>
            <button
              class="update-btn"
              id="password"
              onclick="changeContent(this.id)"
            >
              수정
            </button>
            <% } %>
          </div>
          <p class="comp-content" id="password-content"></p>
        </div>
        <div class="comp">
          <div class="comp-top">
            <p class="comp-title"><strong>달성한 업적</strong></p>
          </div>
          <p class="comp-content">내용</p>
        </div>
      </div>
    </div>

    <div class="content" id="content2" data-tab-content>
      <div class="joinedChallenge card-wrapper"></div>
    </div>

    <div class="content" id="content3" data-tab-content>
      <div class="createdChallenge card-wrapper"></div>
    </div>

    <div id="footer"><%- include('footer') %></div>
    <script>
      const userShortId = "<%= user.shortId%>";
      const userName = "<%= user.name%>";
      const userIntro = "<%= user.intro%>";
    </script>
    <script src="/js/userpageTabs.js"></script>
    <script src="/js/userInfoCorrection.js"></script>
    <script src="/js/userpageMenu.js"></script>
  </body>
</html>
